body {
    position: relative;
width: 1440px;
height: 90vh;

background: #FFFFFF;
box-shadow: 0px 20px 100px rgba(8, 24, 81, 0.25);
border-radius: 10px;
}


.header {
position: relative;
height: 25vh;

}

.browser {
    display: flex;
    justify-content: center;
    flex-direction: row;
  place-items: center;
  height: 10vh;
  

background: url(/img/images/browser.svg);
filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.15));
}

.browser__text {
    
    font-family: 'Helvetica';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
text-align: center;
color: #000000;
opacity: 0.5;
}

.header__container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    height: 20vh;
align-items: flex-end;
}
.header__logo {

background: url(/img/images/logo.svg);
object-fit: contain;
width: 201px;
height: 40px;

}
.header__button-cart {
    width: 115px;
    height: 38px;
    background: url(/img/images/button-cart.svg);
    object-fit: contain;
}

.main {
    display: flex;
    flex-direction: row;
    padding: 1em;
  justify-content: center;
  height: 1400px;
  
}

.main__section {
    left: 126px;
width: 490px;

}

.main_text__title {
    font-family: 'Intro ';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
}

.main_text {
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 160%;
color: #000000;
}


.button-buy {
    
    width: 115px;
    height: 38px;
background: url(/img/images/button-buy.svg) no-repeat;
    object-fit: cover;

}
.main-pic {
    flex: 0 1 50%;
    flex-direction: column;
    background: url(/img/images/pic.svg) no-repeat;
justify-self: flex-end;
}

.nav {
    
    top: 1400px;
    
    }
.menu {
    display: flex;
    flex-direction: row;
    width: 460px;
    height: 32px;
    left: 126px;
    top: 1300px;
    list-style: none;
    align-items: stretch;
    justify-content: space-between;
list-style: none;
}

.menu__item {
    justify-content: space-between;

}



